trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build
    displayName: 'Build project'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'My-Azure-Connection'
      appName: 'mywebapp123'
      package: '$(System.DefaultWorkingDirectory)'
